{
  "extends": "./node_modules/eslint-config-airbnb-base/index.js",

  "plugins": [
    "babel",
    "import",
    "jsx-a11y",
    "react"
  ],

  "settings": {
    "ecmascript": 6
  },

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "rules": {
    // // disable requiring trailing commas because it might be nice to revert to
    // // being JSON at some point, and I don't want to make big changes now.
    // "comma-dangle": 0
  },
}
