.cache
node_modules
.DS_Store
.idea
*.css.d.ts
stories
.vscode
.next
out
storybook-static

.env
.env.development
.vercel

public/sb
public/sitemap*

content/*/_*.mdx
content/*/_*.json
content/*/_*.yaml
content/*/_*.yml

.tina/__generated__