# added by Storybook, related to npm 7 & 8 incompatibilities
legacy-peer-deps=true

# https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-npm-registry
# ? //npm.pkg.github.com/:_authToken=$GH_NPM_TOKEN

@zeropaper:registry=https://npm.pkg.github.com
