html,body,#__next,#root {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

#__next, #root {
  display: flex;
  flex-direction: column;
  position: relative;
}

#__next>div:not([class]) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.skip-to-content-link {
  display: none;
  height: 0;
  margin: 0;
}

.site-logo {
  max-height: 32px;
  max-width: 32px;
}

.inner-layout {
  margin:0 auto;
  max-width:960px;
  width: auto;
  overflow:hidden;
}

@media (max-width: 992px) {
  .inner-layout{
      padding-left: 16px;
      padding-right: 16px;
  }
}
