/*
body:after {
  display: block;
  content: '';
  width: 100%;
  position: fixed;
  top: 50vh;
  border-top: 1px solid red;
}
*/
#root {
  /*visibility: hidden;*/
  margin-bottom: 10vh;
  position: sticky;
  top: 0;
}
@media screen and (max-width: 599px) {
  #root {
    display: none;
  }
}
#root .wrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--layout-max-width, 850px);
  background-color: var(--bg-color, #fff);
}

#root .timeline {
  flex-grow: 2;
  font-size: 14px;
}

#root .vis-timeline {
  border: none;
}

#root .vis-item {
  border-color: var(--color, #000);
  color: var(--color, #000);
  background-color: var(--bg-color, #fff);
}


#root .vis-range {

}

#root .vis-selected {
  border-color: var(--invert-color, #fff);
  color: var(--invert-color, #fff);
  background-color: var(--invert-bg-color, #000);
}

#root .vis-item:hover {
  z-index: 999;
}
#root .vis-item:hover .vis-item-overflow {
  overflow: visible;
}
#root .vis-item:hover .vis-item-content {
  width: auto !important;/*that sucks, I get it*/
  background-color: var(--bg-color, #fff);
}
#root .vis-selected.vis-item:hover .vis-item-content {
  background-color: var(--invert-bg-color, #000);
}


#root .vis-item-content {

}

#root .vis-current-time {
  background-color: var(--link-color, #11bfa5)
}



#root .map {
  width: 50%;
  height: 40vh;
}
#root .map a {
  text-shadow: none;
  box-shadow: none;
}
.leaflet-container a {
  color: var(--link-color, #11bfa5);
}


#hello dt.current {
  font-style: italic;
  box-shadow: 0 1px 0 0 var(--link-color, #11bfa5);
}
/*
#hello dt.current + dd {
}
*/